.container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.logo img {
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

body {
    margin: 0;
}

header {
    box-shadow: 0 4px 24px 0 rgba(103,151,255,.1), 0 12px 64px 0 rgba(103,151,255,.1);
    background-color: #23234e;
}
.wrapper, header {
    display: flex;
    flex-direction: row;
}

aside {
    background: #23234e;
    flex: 0 0 280px;
}
.logo{
    flex: 0 0 280px;
    background: #1b1b3e;
    text-align: center;
}

main {
    flex-basis: 100%;
    padding-top: 50px

}
aside > h2 {
    background-color: #29295a;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}
nav ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

nav ul li a {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    color: #a2a2d1;
    text-decoration: unset;
}
i.fas.fa-caret-down {
    margin-left: 20px;
}
nav ul ul a {
    padding-left: 40px;
}

nav span {
    padding-left: 10px;
}
nav a.active {
    background-color: rgba(0,0,0,0.2);
    border-left: 5px solid #a2a2d1;
}

nav ul li a {
    border-left: 5px solid transparent;
    transition: border-left-color .4s ease, background-color .4s ease;
}

nav ul li a:hover {
    border-left-color: #a2a2d1;
    background-color: rgba(0,0,0,0.2);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-flow: column;
}

.wrapper {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}
.dropdown ul.hide-submenu {
    max-height: 1px;
}

.dropdown ul:not(.hide-submenu) {
    max-height: 500px;
}

.dropdown ul {
    transition: max-height 1s ease;
    overflow: hidden;
}
.three-columns {
    display: flex;
    flex-direction: row;
}

.three-columns > article {
    flex: 1;
    text-align: center;
}
.box-wrapper {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-top: 11px solid #22224e;
    background: #efeff5;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 8px;
}

.box-wrapper>i {
    font-size: 27px;
    padding-bottom: 6px;
}

.number {
    font-size: 31px;
    margin-top: 5px;
    margin-bottom: 6px;
}

.content {
    font-size: 16px;
}